button, select {
  font-size: 16px;
  height: 48px;
}

details summary { 
  cursor: pointer;
}

.chord {
  border: 1px solid black;
  border-radius: 2px;
  display: inline-block;
  padding: 8px;
  margin: 8px;
}

.chord-name {
  font-family: 'Courier New', Courier, monospace;
  border-bottom: 1px solid black;
}

button {
  border-radius: 8px;
}

.warning {
  background-color: lightyellow;
  border: 2px solid yellow;
  padding: 8px;
}
